.todo-container {
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.todo-h2 {
    margin: 0;
}

.todo-container p {
    font-style: italic;
    color: lightslategray;
    margin: 5px 0;
}

.todo-container ol {
    margin: 20px 0;
}

.todo-container ol li {
    margin: 5px 0;
    padding: 3px;
    
}

.todo-container ol li:nth-child(even) {
    background: white;
}

.todo-container .completed {
    text-decoration: line-through;
    color: gray;
}

.todo-container .nice-btn {
    margin: 10px 2px;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: royalblue;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: small;
}

.todo-container .nice-btn:hover{
    opacity: 0.75;
}

.todo-container input {
    padding: 3px 6px;
}

.todo-container form{
    display: inline-block;
}

#btn-control-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.todo-container #empty-list-btn {
    background-color: rgb(172, 23, 23);
}

.todo-container #clear-completed-btn {
    background-color: royalblue;
}

.todo-container #save-list-btn {
    background-color: limegreen;
}

@media only screen and (min-width: 1400px) {
    .todo-container {
        width: 50%;
    }

    .todo-container input{
        width: 600px;
    }

    @media only screen and (min-width: 1399px) and (min-width: 750px) {
        .todo-container {
            width: 75%;
        }
    
        .todo-container input{
            width: 400px;
        }
}
}